Repository warengroup/eximiabots-radiox, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation

Update Streamer class
  src/client/classes/Streamer.js
Labels: none

Update functions
  src/client/funcs/checkFetchStatus.js
  src/client/funcs/isDev.js
  src/client/funcs/listStations.js
Labels: none

client.config.maintenance to client.config.maintenanceMode
  src/Client.ts
  src/client/commands/list.js
  src/client/commands/play.js
  src/client/funcs/check.js
  src/config.js
Labels: none

Update Streamer class
  src/client/classes/Streamer.js
Labels: none

Update maintenance command
  src/client/commands/maintenance.js
Labels: none

Update ready.js
  src/client/events/ready.js
Labels: none

Update maintenance command
  src/client/commands/maintenance.js
Labels: none

Update maintenance command
  src/client/commands/maintenance.js
Labels: none

Update Datastore class
  src/client/classes/Datastore.js
Labels: none

Update Streamer class
  src/client/classes/Streamer.js
Labels: none

Update maintenance command
  src/client/commands/maintenance.js
Labels: none

Update play command
  src/client/commands/play.js
Labels: none

Update saveRadios function
  src/client/funcs/saveRadios.js
Labels: none

Update Streamer class
  src/client/classes/Streamer.js
Labels: none

Update Streamer class
  src/client/classes/Streamer.js
Labels: none

Update maintenance command
  src/client/commands/maintenance.js
Labels: none

Update Streamer event
  src/client/classes/Streamer.js
Labels: none

Update play command
  src/client/commands/play.js
Labels: none

Change default streamerMode to manual
  src/client/classes/Streamer.js
  src/config.js
Labels: none

Update play command
  src/client/commands/play.js
Labels: none

Update interactionCreate event
  src/client/events/interactionCreate.js
Labels: none

Update play function
  src/client/funcs/play.js
Labels: none

Update Datastore class
  src/client/classes/Datastore.js
Labels: none

Update Dependencies
  package-lock.json
  package.json
Labels: dependencies

Update .env_example
  .env_example
Labels: documentation

Add devMode to config
  src/config.js
Labels: none

Update commands.js
  src/client/commands.js
Labels: none

Moved commands map to commands.js
  src/Client.ts
  src/client/commands.js
Labels: none

Update statusField order in status.js
  src/client/commands/status.js
  src/client/messages.js
Labels: none

Update Streamer class
  src/client/classes/Streamer.js
Labels: none

Add Radio class
  src/client/classes/Radio.js
Labels: none

Add Stations class
  src/client/classes/Stations.js
Labels: none

Add Statistics class
  src/client/classes/Statistics.js
Labels: none

Remove few functions
  src/client/funcs/checkFetchStatus.js
  src/client/funcs/restoreRadios.js
  src/client/funcs/saveRadios.js
  src/client/funcs/searchStation.js
  src/client/funcs/statisticsUpdate.js
Labels: none

Removed calculateGlobal function in Datastore class
  src/client/classes/Datastore.js
Labels: none

Update Streamer class
  src/client/classes/Streamer.js
Labels: none

Update Client.ts
  src/Client.ts
Labels: none

Update multiple commands
  src/client/commands/list.js
  src/client/commands/maintenance.js
  src/client/commands/next.js
  src/client/commands/play.js
  src/client/commands/prev.js
  src/client/commands/statistics.js
  src/client/commands/stop.js
Labels: none

Update ready event
  src/client/events/ready.js
Labels: none

Update SIGINT event
  src/client/events/SIGINT.js
Labels: none

.github/labeler.yml:

dependencies:
- package-lock.json

documentation:
- README.md
- SECURITY.md
- CONTRIBUTING.md
- LICENSE
- .env_example
