Repository warengroup/eximiabots-radiox, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation

.github/labeler.yml:

dependencies:
- package-lock.json

documentation:
- README.md
- SECURITY.md
- CONTRIBUTING.md
- LICENSE
- .env_example

Typescript continues
  src/client/classes/Datastore.ts
  src/client/classes/Radio.ts
  src/client/classes/Stations.ts
  src/client/classes/Statistics.ts
  src/client/classes/Streamer.ts
  src/client/commands/maintenance.ts
  src/client/events/ready.ts
  src/client/funcs/loadState.ts
  src/client/funcs/play.ts
  src/client/funcs/saveState.ts
Labels: none

Adding more typings
  src/client/classes/Datastore.ts
  src/client/classes/Radio.ts
  src/client/commands/list.ts
  src/client/funcs/loadState.ts
Labels: none

Fix Stations class
  src/client/classes/Stations.ts
Labels: none

Fix Statistics class
  src/client/classes/Statistics.ts
Labels: none

Fix Streamer class
  src/client/classes/Streamer.ts
Labels: none

Remove unnecessary await in Play command
  src/client/commands/play.ts
Labels: none

Update listStations function
  src/client/funcs/listStations.ts
Labels: none

Add more Typescript typings
  src/client/classes/Stations.ts
  src/client/commands.ts
  src/client/commands/bug.ts
  src/client/commands/help.ts
  src/client/commands/invite.ts
  src/client/commands/list.ts
  src/client/commands/maintenance.ts
  src/client/commands/nowplaying.ts
  src/client/commands/statistics.ts
  src/client/commands/status.ts
  src/client/commands/stop.ts
  src/client/funcs/listStations.ts
  src/client/funcs/play.ts
  src/config.ts
Labels: none

Limit commands in maintenance mode
  src/client/commands/list.ts
  src/client/commands/next.ts
  src/client/commands/prev.ts
  src/client/events/interactionCreate.ts
Labels: none

Create event listeners once in Streamer class
  src/client/classes/Streamer.ts
Labels: none

Remove unused variable Statistics commands
  src/client/commands/statistics.ts
Labels: none

Limit Play command when on maintenance mode
  src/client/commands/play.ts
Labels: none

Remove ts-ignore and fix usage reason
  src/client/events/interactionCreate.ts
  src/client/funcs/check.ts
Labels: none

Dependencies Update
  package-lock.json
  package.json
Labels: dependencies

Fix direct search in Stations class
  src/client/classes/Stations.ts
Labels: none

Handling missing access to guilds in commands.ts
  src/client/commands.ts
Labels: none

Bumb Version
  package-lock.json
  package.json
Labels: dependencies

Dependencies Update
  package-lock.json
Labels: dependencies

Dependencies Update
  package-lock.json
Labels: dependencies

Bumb Version
  package-lock.json
  package.json
Labels: dependencies

Dependencies Update
  package-lock.json
Labels: dependencies

Update supported versions in SECURITY.md
  SECURITY.md
Labels: documentation

Dependencies Update
  package-lock.json
Labels: dependencies

Dependencies Update
  package-lock.json
Labels: dependencies

Dependencies Update
  package-lock.json
Labels: dependencies

Update Stations class: Add type to fetched stations list
  src/client/classes/Stations.ts
Labels: none

Replay idle audioPlayer in Streamer class
  src/client/classes/Streamer.ts
Labels: none

Add track info from Supla playlist
  src/client/commands/nowplaying.ts
  src/client/funcs/play.ts
  src/client/messages.ts
Labels: none

Fix issue in Streamer class
  src/client/classes/Streamer.ts
Labels: none

Temp handle TypeError in missing playlist info
  src/client/commands/nowplaying.ts
  src/client/funcs/play.ts
Labels: none

Bumb Version
  package-lock.json
  package.json
Labels: dependencies

Dependencies Update
  package-lock.json
Labels: dependencies

Remove Now Playing command
  src/client/commands.ts
  src/client/commands/nowplaying.ts
  src/client/commands/stop.ts
Labels: none

Add duration to Play command
  src/client/funcs/play.ts
  src/client/messages.ts
Labels: none

Add RadioPlay playlist support
  src/client/classes/Stations.ts
  src/client/commands/list.ts
  src/client/commands/maintenance.ts
  src/client/commands/play.ts
  src/client/funcs/listStations.ts
  src/client/funcs/play.ts
Labels: none

Typings
  src/client/classes/Radio.ts
  src/client/commands/next.ts
  src/client/commands/prev.ts
  src/client/commands/stop.ts
  src/client/events/voiceStateUpdate.ts
  src/client/funcs/check.ts
Labels: none

Bumb Version
  package-lock.json
  package.json
Labels: dependencies

Update new stationslistUrl in config.ts
  src/config.ts
Labels: none

Update new stationslistUrl in .env-example
  .env_example
Labels: documentation

Dockerfile Update
  Dockerfile
Labels: none
