Repository warengroup/eximiabots-radiox, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation

Dependencies Update
  package-lock.json
Labels: dependencies

Dependencies Update
  package-lock.json
Labels: dependencies

Dependencies Update
  package-lock.json
Labels: dependencies

Discord.js - StringSelectMenu
  src/client/commands/maintenance.js
  src/client/events/interactionCreate.js
  src/client/funcs/listStations.js
Labels: none

Fix Status command
  src/client/commands/status.js
Labels: none

Fix Status command
  src/client/commands/status.js
Labels: none

Fix Status command
  src/client/commands/status.js
Labels: none

Bumb Version
  package-lock.json
  package.json
Labels: dependencies

Add current year to LICENSE file
  LICENSE
Labels: documentation

Update Github workflow - TypeScript Build
  .github/workflows/typescript-build.yml
Labels: none

Update Github workflow - Docker Build
  .github/workflows/docker-build.yml
Labels: none

Dependencies Update
  package-lock.json
Labels: dependencies

Bumb Version
  package-lock.json
  package.json
Labels: dependencies

Bumb Version
  package-lock.json
  package.json
Labels: dependencies

Add version 0.5.x to security.md
  SECURITY.md
Labels: documentation

Remove messageCreate event
  src/client/events/messageCreate.js
Labels: none

TypeScript Initial
  src/Client.ts
  src/client/classes/Datastore.ts
  src/client/classes/Radio.ts
  src/client/classes/Stations.ts
  src/client/classes/Statistics.ts
  src/client/classes/Streamer.ts
  src/client/commands.ts
  src/client/commands/bug.ts
  src/client/commands/help.ts
  src/client/commands/invite.ts
  src/client/commands/list.ts
  src/client/commands/maintenance.ts
  src/client/commands/next.ts
  src/client/commands/nowplaying.ts
  src/client/commands/play.ts
  src/client/commands/prev.ts
  src/client/commands/statistics.ts
  src/client/commands/status.ts
  src/client/commands/stop.ts
  src/client/emojis.ts
  src/client/events/SIGINT.ts
  src/client/events/SIGTERM.ts
  src/client/events/interactionCreate.ts
  src/client/events/messageDelete.ts
  src/client/events/ready.ts
  src/client/events/uncaughtException.ts
  src/client/events/voiceStateUpdate.ts
  src/client/events/warning.ts
  src/client/funcs/check.ts
  src/client/funcs/isDev.ts
  src/client/funcs/listStations.ts
  src/client/funcs/loadState.ts
  src/client/funcs/logger.ts
  src/client/funcs/msToTime.ts
  src/client/funcs/play.ts
  src/client/funcs/saveState.ts
  src/client/messages.ts
  src/config.ts
  src/index.ts
Labels: none

Export modules in typescript
  src/Client.ts
  src/client/classes/Datastore.ts
  src/client/classes/Radio.ts
  src/client/classes/Stations.ts
  src/client/classes/Statistics.ts
  src/client/classes/Streamer.ts
  src/client/commands.ts
  src/client/commands/bug.ts
  src/client/commands/help.ts
  src/client/commands/invite.ts
  src/client/commands/list.ts
  src/client/commands/maintenance.ts
  src/client/commands/next.ts
  src/client/commands/nowplaying.ts
  src/client/commands/play.ts
  src/client/commands/prev.ts
  src/client/commands/statistics.ts
  src/client/commands/status.ts
  src/client/commands/stop.ts
  src/client/emojis.ts
  src/client/events/SIGINT.ts
  src/client/events/SIGTERM.ts
  src/client/events/interactionCreate.ts
  src/client/events/messageDelete.ts
  src/client/events/ready.ts
  src/client/events/uncaughtException.ts
  src/client/events/voiceStateUpdate.ts
  src/client/events/warning.ts
  src/client/funcs/check.ts
  src/client/funcs/isDev.ts
  src/client/funcs/listStations.ts
  src/client/funcs/loadState.ts
  src/client/funcs/logger.ts
  src/client/funcs/msToTime.ts
  src/client/funcs/play.ts
  src/client/funcs/saveState.ts
  src/client/messages.ts
  src/config.ts
Labels: none

TypeScript types
  src/Client.ts
  src/client/classes/Datastore.ts
  src/client/classes/Radio.ts
  src/client/classes/Stations.ts
  src/client/classes/Statistics.ts
  src/client/classes/Streamer.ts
  src/client/commands.ts
  src/client/commands/bug.ts
  src/client/commands/help.ts
  src/client/commands/invite.ts
  src/client/commands/list.ts
  src/client/commands/maintenance.ts
  src/client/commands/next.ts
  src/client/commands/nowplaying.ts
  src/client/commands/play.ts
  src/client/commands/prev.ts
  src/client/commands/statistics.ts
  src/client/commands/status.ts
  src/client/commands/stop.ts
  src/client/emojis.ts
  src/client/events/SIGINT.ts
  src/client/events/SIGTERM.ts
  src/client/events/interactionCreate.ts
  src/client/events/messageDelete.ts
  src/client/events/ready.ts
  src/client/events/uncaughtException.ts
  src/client/events/voiceStateUpdate.ts
  src/client/events/warning.ts
  src/client/funcs/check.ts
  src/client/funcs/isDev.ts
  src/client/funcs/listStations.ts
  src/client/funcs/loadState.ts
  src/client/funcs/logger.ts
  src/client/funcs/msToTime.ts
  src/client/funcs/play.ts
  src/client/funcs/saveState.ts
Labels: none

Typescript Continue
  src/client/classes/Datastore.ts
  src/client/classes/Radio.ts
  src/client/classes/Stations.ts
  src/client/commands/help.ts
  src/client/commands/maintenance.ts
  src/client/commands/play.ts
Labels: none

Update
  src/client/classes/Stations.ts
  src/client/commands.ts
  src/index.ts
Labels: none

Typescript rework continue
  src/Client.ts
  src/client/classes/Datastore.ts
  src/client/classes/Radio.ts
  src/client/classes/Stations.ts
  src/client/classes/Streamer.ts
  src/client/commands.ts
  src/client/commands/maintenance.ts
  src/client/commands/play.ts
  src/client/events.ts
  src/client/events/ready.ts
  src/client/funcs.ts
  src/client/funcs/listStations.ts
  src/config.ts
  src/index.ts
Labels: none

Typescript Continuum
  src/Client.ts
  src/client/classes/Radio.ts
  src/client/classes/Statistics.ts
  src/client/classes/Streamer.ts
  src/client/commands.ts
  src/client/commands/bug.ts
  src/client/commands/help.ts
  src/client/commands/invite.ts
  src/client/commands/list.ts
  src/client/commands/maintenance.ts
  src/client/commands/next.ts
  src/client/commands/nowplaying.ts
  src/client/commands/play.ts
  src/client/commands/prev.ts
  src/client/commands/statistics.ts
  src/client/commands/status.ts
  src/client/commands/stop.ts
  src/client/emojis.ts
  src/client/events/SIGINT.ts
  src/client/events/SIGTERM.ts
  src/client/events/interactionCreate.ts
  src/client/events/messageDelete.ts
  src/client/events/ready.ts
  src/client/events/uncaughtException.ts
  src/client/events/voiceStateUpdate.ts
  src/client/events/warning.ts
  src/client/funcs/check.ts
  src/client/funcs/listStations.ts
  src/client/funcs/loadState.ts
  src/client/funcs/logger.ts
  src/client/funcs/play.ts
  src/client/funcs/saveState.ts
  src/client/utils/typings.ts
Labels: none

Change em dash to dash in Stations class
  src/client/classes/Stations.ts
Labels: none

Typescript Continue
  src/Client.ts
  src/client/classes/Datastore.ts
  src/client/classes/Radio.ts
  src/client/classes/Stations.ts
  src/client/classes/Statistics.ts
  src/client/classes/Streamer.ts
  src/client/commands/bug.ts
  src/client/commands/help.ts
  src/client/commands/invite.ts
  src/client/commands/list.ts
  src/client/commands/maintenance.ts
  src/client/commands/next.ts
  src/client/commands/nowplaying.ts
  src/client/commands/play.ts
  src/client/commands/prev.ts
  src/client/commands/statistics.ts
  src/client/commands/status.ts
  src/client/commands/stop.ts
  src/client/emojis.ts
  src/client/events.ts
  src/client/events/SIGINT.ts
  src/client/events/interactionCreate.ts
  src/client/events/messageDelete.ts
  src/client/events/ready.ts
  src/client/events/voiceStateUpdate.ts
  src/client/funcs.ts
  src/client/funcs/check.ts
  src/client/funcs/logger.ts
  src/client/funcs/play.ts
  src/client/messages.ts
  src/client/utils/typings.ts
  src/config.ts
Labels: none

Move emojis to messages variable
  src/Client.ts
  src/client/commands/bug.ts
  src/client/commands/help.ts
  src/client/commands/invite.ts
  src/client/commands/list.ts
  src/client/commands/maintenance.ts
  src/client/commands/next.ts
  src/client/commands/nowplaying.ts
  src/client/commands/play.ts
  src/client/commands/prev.ts
  src/client/commands/statistics.ts
  src/client/commands/status.ts
  src/client/commands/stop.ts
  src/client/emojis.ts
  src/client/events/interactionCreate.ts
  src/client/events/ready.ts
  src/client/funcs/check.ts
  src/client/funcs/play.ts
  src/client/messages.ts
Labels: none

Simplify events
  src/Client.ts
  src/client/events.ts
  src/client/events/SIGINT.ts
  src/client/events/SIGTERM.ts
  src/client/events/interactionCreate.ts
  src/client/events/messageDelete.ts
  src/client/events/ready.ts
  src/client/events/uncaughtException.ts
  src/client/events/voiceStateUpdate.ts
  src/client/events/warning.ts
Labels: none

Simplicy Commands
  src/client/commands.ts
  src/client/events/ready.ts
Labels: none

Update Maintenance command
  src/client/commands/maintenance.ts
Labels: none

Fix typo in commands.ts
  src/client/commands.ts
Labels: none

Rename devId to devIds in config
  src/Client.ts
  src/client/commands/maintenance.ts
  src/client/events/ready.ts
  src/client/funcs/isDev.ts
  src/config.ts
Labels: none

Replace any types to more strict types
  src/client/classes/Datastore.ts
  src/client/classes/Stations.ts
  src/client/classes/Streamer.ts
  src/client/commands/next.ts
  src/client/funcs/listStations.ts
  src/client/funcs/play.ts
  src/client/funcs/saveState.ts
Labels: none

Add replace method to messages variable
  src/client/commands/bug.ts
  src/client/commands/help.ts
  src/client/commands/invite.ts
  src/client/commands/list.ts
  src/client/commands/nowplaying.ts
  src/client/commands/play.ts
  src/client/commands/statistics.ts
  src/client/commands/status.ts
  src/client/funcs/check.ts
  src/client/funcs/play.ts
  src/client/messages.ts
Labels: none

Update Play command
  src/client/commands/play.ts
Labels: none

Remove unused message variables in commands
  src/client/commands/invite.ts
  src/client/commands/list.ts
  src/client/commands/maintenance.ts
  src/client/commands/nowplaying.ts
  src/client/commands/play.ts
  src/client/commands/statistics.ts
  src/client/commands/status.ts
  src/client/funcs/check.ts
Labels: none

Remove unused variable in isDev function
  src/client/funcs/isDev.ts
Labels: none

Typings in listStations function
  src/client/funcs/listStations.ts
Labels: none

More typings to classes, commands, events, funcs
  src/client/classes/Datastore.ts
  src/client/classes/Radio.ts
  src/client/classes/Stations.ts
  src/client/classes/Statistics.ts
  src/client/classes/Streamer.ts
  src/client/commands/help.ts
  src/client/commands/nowplaying.ts
  src/client/commands/play.ts
  src/client/commands/status.ts
  src/client/commands/stop.ts
  src/client/events/voiceStateUpdate.ts
  src/client/funcs/check.ts
  src/client/funcs/isDev.ts
  src/client/funcs/saveState.ts
Labels: none

NodeJS 18 & Node-Fetch Drop
  package-lock.json
  package.json
Labels: dependencies

Dockerfile Update - NodeJS 18
  Dockerfile
Labels: none

.github/labeler.yml:

dependencies:
- package-lock.json

documentation:
- README.md
- SECURITY.md
- CONTRIBUTING.md
- LICENSE
- .env_example
