Repository warengroup/eximiabots-radiox, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation

Add Dependabot Auto-Approve workflow (Github Workflows)
  .github/workflows/dependabot_auto-approve.yml
Labels: none

Update Client.ts
  src/Client.ts
Labels: none

Remove Dependabot Auto-Approve workflow (Github Workflows)
  .github/workflows/dependabot_auto-approve.yml
Labels: none

Update Dependabot Auto-Merge workflow (Github Workflows)
  .github/workflows/dependabot_auto-merge.yml
Labels: none

Bumb Version
  package-lock.json
  package.json
Labels: dependencies

Update Dependencies
  package-lock.json
Labels: dependencies

Update Dependabot Auto-Merge workflow (Github Workflows)
  .github/workflows/dependabot_auto-merge.yml
Labels: none

Bumb Version
  package-lock.json
  package.json
Labels: dependencies

Update Dependabot Auto-Merge workflow (Github Workflows)
  .github/workflows/dependabot_auto-merge.yml
Labels: none

Bumb Version
  package-lock.json
  package.json
Labels: dependencies

Update TypeScript Build workflow (Github Workflows)
  .github/workflows/typescript-build.yml
Labels: none

Update Docker Build workflow (Github Workflows)
  .github/workflows/docker-build.yml
Labels: none

Bumb Version
  package-lock.json
  package.json
Labels: dependencies

Update Dependencies
  package-lock.json
Labels: dependencies

Update MessageEmbed .setFooter to newest Discord.js
  README.md
  src/client/commands/bug.js
  src/client/commands/help.js
  src/client/commands/invite.js
  src/client/commands/list.js
  src/client/commands/maintenance.js
  src/client/commands/nowplaying.js
  src/client/commands/statistics.js
  src/client/commands/status.js
  src/client/commands/stop.js
  src/client/events/messageCreate.js
  src/client/funcs/play.js
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update
  src/client/classes/Stations.js
  src/client/events/ready.js
Labels: none

Update Dependabot Auto-Merge workflow (Github Workflows)
  .github/workflows/dependabot_auto-merge.yml
Labels: none

Update messageDelete event
  src/client/events/messageDelete.js
Labels: none

Update voiceStateUpdate event
  src/client/events/voiceStateUpdate.js
Labels: none

Update play function
  src/client/funcs/play.js
Labels: none

Update Statistics command
  src/client/commands/statistics.js
Labels: none

Bumb Version
  package-lock.json
  package.json
Labels: dependencies

Update Ready event
  src/client/events/ready.js
Labels: none

Update Dependencies
  package-lock.json
Labels: dependencies

Update Dependencies
  package-lock.json
  package.json
Labels: dependencies

Update Client.ts
  src/Client.ts
Labels: none

Discord.js V14 compatibility
  src/Client.ts
  src/client/commands/bug.js
  src/client/commands/invite.js
  src/client/commands/list.js
  src/client/commands/maintenance.js
  src/client/commands/next.js
  src/client/commands/nowplaying.js
  src/client/commands/play.js
  src/client/commands/prev.js
  src/client/commands/statistics.js
  src/client/commands/status.js
  src/client/commands/stop.js
  src/client/events/interactionCreate.js
  src/client/events/messageCreate.js
  src/client/events/voiceStateUpdate.js
  src/client/funcs/check.js
  src/client/funcs/listStations.js
  src/client/funcs/play.js
Labels: none

Update README.md
  README.md
Labels: documentation

Bumb Version
  package-lock.json
  package.json
Labels: dependencies

Discord.js V14 Compatibility part 2
  src/client/commands/help.js
  src/client/commands/maintenance.js
  src/client/commands/status.js
Labels: none

Bumb Version
  package-lock.json
  package.json
Labels: dependencies

Update SECURITY.md
  SECURITY.md
Labels: documentation

Update .dockerignore
  .dockerignore
Labels: none

Update Dependencies
  package-lock.json
Labels: dependencies

Update Dependencies
  package-lock.json
Labels: dependencies

Update Dependencies
  package-lock.json
Labels: dependencies

Bumb Version
  package-lock.json
  package.json
Labels: dependencies

Update Dependencies
  package-lock.json
Labels: dependencies

Update Ready event
  src/client/events/ready.js
Labels: none

.github/labeler.yml:

dependencies:
- package-lock.json

documentation:
- README.md
- SECURITY.md
- CONTRIBUTING.md
- LICENSE
- .env_example
