Repository warengroup/eximiabots-radiox, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation

.github/labeler.yml:

dependencies:
- package-lock.json

documentation:
- README.md
- SECURITY.md
- CONTRIBUTING.md
- LICENSE
- .env_example

Update Dependencies
  package-lock.json
Labels: dependencies

Update Streamer class
  src/client/classes/Streamer.js
Labels: none

Update Dependencies
  package-lock.json
Labels: dependencies

Update Streamer class
  src/client/classes/Streamer.js
Labels: none

Update Dependencies
  package-lock.json
  package.json
Labels: dependencies

Update Streamer class
  src/client/classes/Streamer.js
Labels: none

Update stationsListURL
  .env_example
  README.md
  src/config.js
Labels: documentation

Update Dependencies
  package-lock.json
Labels: dependencies

Update Stations class
  src/client/classes/Stations.js
Labels: none

Update Dependencies
  package-lock.json
  package.json
Labels: dependencies

Update audioPlayer idle event in Streamer class
  src/client/classes/Streamer.js
Labels: none

If station is false return at restore function in Radio class
  src/client/classes/Radio.js
Labels: none

Update fetch function in Stations class
  src/client/classes/Stations.js
Labels: none

Add direct search to Stations class
  src/client/classes/Radio.js
  src/client/classes/Stations.js
  src/client/commands/play.js
Labels: none

Update README.md
  README.md
Labels: documentation

Bumb version
  package-lock.json
  package.json
Labels: dependencies

Bumb version
  package-lock.json
  package.json
Labels: dependencies

Update uncaughtException event
  src/client/events/uncaughtException.js
Labels: none

Update Dependencies
  package-lock.json
Labels: dependencies

Update Streamer class
  src/client/classes/Streamer.js
Labels: none

Update Streamer class
  src/client/classes/Streamer.js
Labels: none

Update commands.js
  src/client/commands.js
Labels: none

Update Dependencies
  package-lock.json
Labels: dependencies

Update Streamer class
  src/client/classes/Streamer.js
Labels: none

Update Dependencies
  package-lock.json
Labels: dependencies

Update Dependencies
  package-lock.json
  package.json
Labels: dependencies

Bumb version
  package-lock.json
  package.json
Labels: dependencies

Update Dependencies
  package-lock.json
  package.json
Labels: dependencies

Update Dependencies
  package-lock.json
Labels: dependencies

Update Dependencies
  package-lock.json
Labels: dependencies

Bumb Version
  package.json
Labels: none

Update Dependencies
  package-lock.json
Labels: dependencies

Add Dependabot Auto-Merge workflow (Github Workflows)
  .github/workflows/dependabot_auto-merge.yml
Labels: none

Update CodeQL Analyze workflow (Github Workflows)
  .github/workflows/codeql-analyze.yml
Labels: none

Update Dependencies
  package-lock.json
Labels: dependencies

Bumb Version
  package-lock.json
  package.json
Labels: dependencies

Update Dependabot Auto-Merge workflow (Github Workflows)
  .github/workflows/dependabot_auto-merge.yml
Labels: none

Update Dependabot Auto-Merge workflow (Github Workflows)
  .github/workflows/dependabot_auto-merge.yml
Labels: none

Bumb Version
  package-lock.json
  package.json
Labels: dependencies

Update year in LICENSE
  LICENSE
Labels: documentation
